<div style="display: none" class="modify-div <%= divClass %>">
    <% if (authenticated) {%> <% console.log(locals) %>
    <button class="delete-btn <%= id %>">
        <img src="/icons/trash.svg" alt="" />
        <p>Delete</p>
    </button>
    <button class="rename-btn <%= id %>">
        <img src="/icons/rename.svg" alt="" />
        <p>Rename</p>
    </button>
    <%- include('renameDialog', {linkRename, id}) %> <% } %>
    <!---->
    <%- include('deleteDialog', {linkDelete, id}) %>
</div>
