<div style="display: flex">
    <span>
        <p>Name:</p>
        <a href="<%= link %>"><%= name %></a></span
    >
    <span>
        <p>Size:</p>
        <p><% if (size) { %> <%= size %> <%} else {%> <%= 'X' %> <%}%></p>
    </span>
    <span>
        <p>Date:</p>
        <p><%= date %></p>
    </span>
    <button class="modify-btn <%= locals.btnClass %>">modify</button>
    <%-include('fileFolderModify', {linkDelete: `/folders/${folder.id}/delete`, linkRename: `/folders/${folder.id}/rename`, id: folder.id, divClass:
    btnClass})%>
</div>
