<!DOCTYPE html>
<html lang="en">
    <% console.log(file.addedTo[0].id) %> <%- include('partials/head', {title: `Yuna | ${file.name}`, cssPath: '/styles/file.css'}) %>
    <!---->
    <%- include('navBar', {authenticated}) %>
    <body>
        <div class="file-container">
            <% if (authenticated) { %>
            <a href="/folders/<%= file.addedTo[0].id %>" class="folderLink">Go back</a>
            <%} else {%>
            <a href="/folders/public/<%= file.addedTo[0].id %>" class="folderLink">Go back</a>
            <% } %>
            <div>
                <img src="/icons/file.svg" alt="" />
                <h1><%= file.name %></h1>
            </div>
            <div>
                <span></span>
                <p><b>File size:</b> <%= file.size %></p>
                <p><b>File type:</b> <%= file.extension %></p>
                <p><b>Date added:</b> <%= file.date %></p>
            </div>
            <a href="<%= file.url %>?download=<%= file.name %>">Download</a>
        </div>
    </body>
</html>
