<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <%- include("partials/sideBar") %> <% if (folder.parentFolderId) { %>
        <a href="/folders/<%= folder.parentFolderId  %>"><%= folder.parentFolder.name %></a>
        <%}%>
        <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
        <h1><%= folder.name %></h1>
        <% folder.subFolders.forEach(folder => {%>
        <!---->
        <%- include('partials/folderFileContainer', {link: `/folders/${folder.id}`, name: folder.name, date: folder.date, size: 'X'}) %>
        <!---->
        <%-include('partials/fileFolderModify', {linkDelete: `/folders/${folder.id}/delete`, linkRename: `/folders/${folder.id}/rename`, id:
        folder.id})%> <% }) %>
        <!---->
        <% folder.files.forEach(file => { %>
        <!---->
        <%- include('partials/folderFileContainer', {link: `/files/${file.id}`, name: file.name, size: file.size, date: file.date}) %>
        <!---->
        <%- include('partials/fileFolderModify', {linkDelete: `/files/${file.id}/delete`, linkRename: `/files/${file.id}/rename`, id: file.id}) %> <%
        }) %>
        <form action="/folders/<%= folder.id %>/share" method="post">
            <label for="date">Expiration date: </label>
            <select name="date" id="date">
                <option value="1D">One day</option>
                <option value="10D">Ten days</option>
                <option value="1M">1 month</option>
                <option value="1Y">1 year</option>
                <option value="Forever">Forever</option>
            </select>
            <input type="hidden" name="id" value="<%= folder.id %>" />
            <button>SHARE</button>
        </form>
    </body>
    <script>
        function checkSize(input) {
            const UPLOAD_LIMIT = 50 * 1000000;
            const file = input.files[0];

            if (file.size > UPLOAD_LIMIT) {
                alert("File can't be larger than 50MB");

                input.value = null;
            }
        }
    </script>
</html>
