<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1><%= folder.name %></h1>
        <% folder.subFolders.forEach(folder => {%>
        <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
        <% }) %>
        <!---->
        <% folder.files.forEach(file => { %>
        <a href="/files/<%= file.id %>"><%= file.name %></a>
        <% }) %>
        <form action="" method="post">
            <label for="folder">New Folder</label>
            <input type="text" name="folder" id="folder" />
            <button>add</button>
        </form>
        <form action="/files" method="post" enctype="multipart/form-data">
            <input type="file" name="file" onchange="checkSize(this)" />
            <input type="hidden" name="folder" value="<%= folder.id %>" />
            <button>Submit</button>
        </form>
    </body>
    <script>
        function checkSize(input) {
            const UPLOAD_LIMIT = 50 * 1000000;
            const file = input.files[0];

            alert("File can't be larger than 50MB");

            input.value = null;
        }
    </script>
</html>
